{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
    <form action="/addinglogo" style="margin-top: 20px;" method="GET" enctype="text/plain" >
      <h3 align="center">Add your logo</h3>
      <div class="form-group">
        <label for="Logo">LOGO</label>
        <input
          type="text"
          class="form-control"
          id="logo"
          name="logo"
          placeholder="請輸入商標"
        />
        <p></p>
        <label for="colname">Column name</label>
        <input
          type="text"
          class="form-control"
          id="colname"
          name="colname"
          placeholder="請輸入欄位名稱"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary" style="margin-top: 15px; margin-left: 29px; ">加入商標</button>
    </form>
    {% endblock %}
    